# Laravel default
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json

# Laravel specific build/hot files
/public/hot
/public/build

# IDE/Editor settings
/.idea
/.vscode
/.fleet

# Ignore QR, Aadhaar, and Payment images
/public/qr/*
/public/aadhaar_photos/*
/public/payment/*

# Ignore compiled PDF outputs (if any)
/storage/app/*.pdf

# Ignore debug output
*.log
